<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number%></p>
<p><%= @restaurant.category%></p>

<p><%= @review.rating %></p>
<p><%= @review.content %></p>


<%= link_to 'Create new review', new_restaurant_review_path(@restaurant)%>


<%= link_to 'Back', restaurants_path(@restaurants) %>
